

h1 {
	color: blue;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Rammetto One', cursive;
}

body {
	text-align: center;
	margin: auto 0;
	margin: 0 20% 0 20%;

}

hr {
	width: 350px;
	margin-right: 20%;
}

.image {
	margin: none;
	text-align: none;
}

p {
	font-family: "Droid Serif", serif;
}